* { box-sizing: border-box; }

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Muli', sans-serif;
	background: #f5f2eb;
	font-size: 1.5em;
	color: #424242;
}

::placeholder {
	color: black;
	opacity: 0.5;
}

#content {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1, h2 {
	line-height: 1em;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	word-wrap: break-word;
	text-align: center;
	font-weight: bold;
}

h1 {
	font-size: 2.5em;
	color: #2d2d2d;
}

h2 {
	font-size: 1.75em;
	color: #457bbf;
}

#autocomplete-area {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#autocomplete-box {
	flex-grow: 1;
	position: relative;
}

#messagebox {
	width: 45%;
	height: 50px;
	border: 1px solid #bfbfbf;
	outline: none;
	padding: 16px;
	border-radius: 4px;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
	font-size: 1em;
	box-sizing: border-box;
}

#messagebox:hover {
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#options {
	margin-bottom: 50px;
	width: calc(100% - 50px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

/* Adapted from https://codepen.io/seanstopnik/pen/CeLqA */
#range-slider-label {
	margin-right: 25px;
}

.range-slider__range {
	-webkit-appearance: none;
	width: 350px;
	height: 15px;
	border-radius: 8px;
	background: #5e9ceb;
	outline: none;
	padding: 0;
	margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #2c3e50;
	cursor: pointer;
	transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb {
	width: 24px;
	height: 24px;
	border: 0;
	border-radius: 50%;
	background: #2c3e50;
	cursor: pointer;
	transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
	background: #1abc9c;
}

.range-slider__range::-moz-range-thumb:hover {
	background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
	background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
	background: #1abc9c;
}

.range-slider__range:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
	display: inline-block;
	position: relative;
	width: 60px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	border-radius: 4px;
	background: #2c3e50;
	padding: 8px;
	margin-left: 12px;
}

.range-slider__value:after {
	position: absolute;
	top: 10px;
	left: -10px;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 10px solid #2c3e50;
	border-bottom: 8px solid transparent;
	content: '';
}

/* Borrowed from https://www.w3schools.com/howto/howto_js_autocomplete.asp */
.autocomplete-items {
	width: 45%;
	margin: auto;
	margin-top: 5px;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff; 
	border-bottom: 1px solid #d4d4d4; 
	overflow: hidden;
	font-size: 0.72em;
}

.autocomplete-items div:hover {
	background-color: #e9e9e9; 
}

.autocomplete-active {
	background-color: DodgerBlue !important; 
	color: #ffffff; 
}